<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="kuraken">
    <meta name="date" content="2023.03.17.">
    <meta name="description" content="portpolio">

    <title>My First Gradle Project</title>
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"></script>
</head>
<body>
  <h1>First Gradle Project</h1>
  <h2>Example For Using Github</h2>
</body>
<script>
</script>
</html>